@import './config.scss';
.about__root {
	padding: 2.5rem 0;
	font-size: 1.6rem;
}

.about-me {
	position: relative;
	z-index: 5;
	&__title {
		padding: 2rem 0;
		font-size: 2.4rem;
		text-transform: uppercase;
		span {
			color: $accentColor;
		}
	}
	&__body {
		font-size: 2rem;
		letter-spacing: 0.1rem;
		p {
			margin: 2rem 0;
		}
		em {
			display: block;
			margin: 2rem;
		}
	}
	&__body > *:not(:last-child) {
		margin-bottom: 5rem;
	}
	&__columns {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		-moz-column-gap: 3rem;
		column-gap: 3rem;

		.img {
			grid-column-start: 3;
			grid-column-end: 4;
			grid-row-start: 1;
			grid-row-end: 4;
		}
	}

	dl {
		padding: 1rem 2rem 1rem 0;
		border-bottom: 1px solid $lineBottomColor-10;
		font-weight: 600;
		font-size: 2rem;
		address,
		dd {
			font-weight: normal;
			font-size: 1.8rem;
			color: $textSecondColor;
			display: inline;
			a {
				color: inherit;
				margin-right: 1rem;
				&:hover {
					color: $hoverColor;
				}
			}
			a#phone:hover {
				color: $textSecondColor;
			}
		}
	}
	img {
		max-width: 100%;
		cursor: pointer;
		&:hover {
			border: 1px solid $hoverColor;
		}
	}
	&__popup {
		position: fixed;
		top: 5%;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: $burgerBackgroundColor-95;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 1000;
		img {
			transform: scale(0.7);
			cursor: auto;
		}
	}
	&__popup-close {
		position: absolute;
		top: 50px;
		right: 50px;
		width: 50px;
		height: 50px;
		display: block;
		cursor: pointer;
		&::before,
		&::after {
			content: ' ';
			display: block;
			position: relative;
			width: 100%;
			height: 5px;
			background-color: $textColor;
			transform: translate(-50%, -50%);
		}
		&::before {
			transform: rotate(45deg);
			left: 0;
			top: 10%;
		}
		&::after {
			transform: rotate(-45deg);
			right: 0;
		}
	}
}

// media pull-------------------
// 950 px---------------
@media (max-width: 59.375em) {
	.about-me {
		&__columns {
			grid-template-columns: 1fr;
			grid-template-rows: repeat(6, 1fr);
			-moz-column-gap: 2rem;
			column-gap: 2rem;
			row-gap: 0.5rem;

			.img {
				grid-column: 1;
				grid-row: -1;
			}
		}
	}
}

// 450px===============
@media (max-width: 28.125em) {
	.about-me {
		&__columns {
			flex: 0 1 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__column {
			width: 100%;
		}
	}
	.about {
		&__body {
			padding-bottom: 1rem;
		}
	}
}
