.about__root {
	padding: 2.5rem 0;
	background-color: rgb(1, 1, 1);
	font-size: 1.6rem;
}

.about-me {
	position: relative;
	z-index: 5;
	padding: 5rem 0;
	background-color: black;
	&__title {
		padding: 2rem 0;
		font-size: 2.4rem;
		text-transform: uppercase;
		span {
			color: yellow;
		}
	}
	&__body {
		font-size: 2rem;
		letter-spacing: 0.1rem;
		p {
			margin: 2rem 0;
		}
	}
	&__body > *:not(:last-child) {
		margin-bottom: 5rem;
	}
	&__columns {
		display: flex;
		gap: 3rem;
	}
	&__column {
		flex: 0 1 33.333%;
		dt {
			padding: 1rem 2rem 1rem 0;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			font-weight: 600;
			font-size: 2rem;
			address,
			span {
				font-weight: normal;
				font-size: 1.8rem;
				color: darkgray;
				display: inline;
				a {
					color: inherit;
					margin-right: 1rem;
				}
			}
		}
		img {
			max-width: 100%;
			cursor: pointer;
		}
		&_popup {
			position: fixed;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: rgba(25 24 24 / 90%);
			display: flex;
			justify-content: center;
			align-items: center;
			img {
				transform: scale(0.7);
				cursor: auto;
			}
		}
		&_popup-close {
			position: absolute;
			top: 50px;
			right: 50px;
			width: 50px;
			height: 50px;
			display: block;
			cursor: pointer;
			&::before,
			&::after {
				content: ' ';
				display: block;
				position: relative;
				width: 100%;
				height: 5px;
				background-color: aliceblue;
				transform: translate(-50%, -50%);
			}
			&::before {
				transform: rotate(45deg);
				left: 0;
				top: 10%;
			}
			&::after {
				transform: rotate(-45deg);
				right: 0;
			}
		}
	}
}

// media pull-------------------
// 950 px---------------
@media (max-width: 59.375em) {
	.about-me {
		&__columns {
			flex-wrap: wrap;
			// align-items: center;
			justify-content: center;
		}
		&__column {
			flex: 0 1 100%;
			// flex-wrap: wrap;
			// // align-items: center;
			// justify-content: center;
		}
	}
}

// 450px===============
@media (max-width: 28.125em) {
	.about-me {
		&__columns {
			flex: 0 1 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__column {
			width: 100%;
		}
	}
	.about {
		&__body {
			padding-bottom: 1rem;
		}
	}
}
