.about {
	&__body {
		padding-bottom: 10rem;
	}
	&__root {
		background-color: rgb(1, 1, 1);
		font-size: 1.6rem;
	}
	&__content {
		margin: 0 0 30px 0;
		p {
			margin: 20px 0px 0 0;
		}
	}
}

.about-me {
	position: relative;
	z-index: 5;
	padding: 5rem 0;
	background-color: black;

	&__title {
		padding: 2rem 0;
		font-size: 2.4rem;
		text-transform: uppercase;
		span {
			color: yellow;
		}
	}
	&__body {
		font-size: 2rem;
		letter-spacing: 0.1rem;

		p {
			margin: 2rem 0;
		}
	}

	&__body > *:not(:last-child) {
		margin-bottom: 5rem;
	}

	&__columns {
		display: flex;
		gap: 3rem;
	}

	&__column {
		flex: 0 1 33.333%;
		div {
			padding: 1rem 2rem 1rem 0;
			border-bottom: 1px solid rgba(255, 255, 255, 0.2);
			font-weight: 600;
			font-size: 2rem;

			span {
				font-weight: normal;
				font-size: 1.8rem;
				color: darkgray;

				a {
					color: inherit;
					margin-right: 1rem;
				}
			}
		}

		img {
			max-width: 100%;
		}
	}
}

.informacion {
	&__columns {
		display: flex;
		gap: 2rem;
	}

	&__column {
		flex: 0 1 50%;

		h3 {
			font-size: 2rem;
			margin-bottom: 2rem;
		}
	}
	&__column-body {
		background-color: rgba(26, 25, 25, 0.5);
		padding: 2rem 2rem 2rem 4rem;
		border-radius: 10px;
		box-shadow: 1px 1px 5px rgba(250, 250, 250, 0.2);
	}
}

.column-icon {
	margin-bottom: 3rem;
	position: relative;
}
.column-icon__img {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: -4px;
	left: -34px;

	img {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.column-icon__title {
	margin-bottom: 1.5rem;
	font-size: 1.8rem;
	font-weight: 600;
}

// media pull-------------------
// 950 px---------------
@media (max-width: 59.375em) {
	.about-me {
		&__columns {
			flex-wrap: wrap;
			// align-items: center;
			justify-content: center;
		}
		&__column {
			flex: 0 1 100%;
			// flex-wrap: wrap;
			// // align-items: center;
			// justify-content: center;
		}
	}
	.informacion {
		&__columns {
			flex-wrap: wrap;
		}

		&__column {
			flex: 0 1 100%;

			h3 {
			}
		}
		&__column-body {
		}
	}
}

// 450px===============
@media (max-width: 28.125em) {
	.about-me {
		&__columns {
			flex: 0 1 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
		}

		&__column {
			width: 100%;
		}
	}
}
