// global colors
$backgroundColor: rgb(1, 1, 1);
$textColor: bisque;
$textSecondColor: rgb(122, 116, 116);
$accentColor: yellow;
$accentSecondColor: rgb(103, 93, 184);
$hoverColor: yellow;
$burgerBackgroundColor-95: rgba(24, 24, 23, 0.95);
// line color for border
$lineBottomColor-10: rgba(250, 250, 250, 0.1);
$lineBottomColor-50: rgba(250, 250, 250, 0.5);
$blogBackgroundColor-50: rgba(26, 25, 25, 0.5);
