@import './config.scss';
.contacts {
	&__root {
		padding: 2.5rem 0;
	}
	&__body {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		height: 100%;
		flex: 0 1 100%;
		margin: auto 0;
	}
	&__questions {
		font-size: 4rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		color: $textColor;
		p {
			margin-bottom: 2rem;
		}
		span {
			font-size: 2rem;
			color: $accentColor;
		}
	}
	&__columns {
		display: flex;
		justify-content: space-around;
		align-items: center;
		padding: 5rem 0;
		gap: 2rem;
		width: 100%;
	}
	&__column {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex: 0 1 25%;
	}
	&__column-icon {
		width: 5rem;
		height: 5rem;
		position: relative;
		margin: 2rem;
		img {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			-o-object-fit: cover;
			object-fit: cover;
		}
	}
	&__column-title {
		font-size: 4rem;
		margin-bottom: 1rem;
	}
	&__column-link {
		font-size: 2rem;
		a {
			color: inherit;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			&:hover {
				color: $hoverColor;
			}
		}
	}
}
// media pull-------------------
// 950 px---------------
@media (max-width: 59.375em) {
	.contacts {
		&__column-icon {
			width: 3.5rem;
			height: 3.5rem;
		}
		&__column-title {
			font-size: 2rem;
		}
		&__column-link {
			font-size: 1rem;
		}
	}
}
// 450px===============
@media (max-width: 28.125em) {
	.contacts {
		&__root {
			padding: 0.5rem 0;
		}
		&__questions {
			font-size: 2rem;
			p {
				margin-bottom: 1rem;
			}
		}
		&__columns {
			flex-wrap: wrap;
			width: 100%;
			padding-bottom: 7rem;
		}
		&__column {
			flex: 0 1 40%;
		}
	}
}
