.education {
	font-size: 1.8rem;
	&__columns {
	}

	&__column {
		padding-bottom: 3rem;

		h3 {
			font-size: 2rem;
			margin-bottom: 2rem;
		}
	}
	&__column-body {
		background-color: rgba(26, 25, 25, 0.5);
		padding: 2rem 2rem 2rem 4rem;
		border-radius: 10px;
		box-shadow: 1px 1px 5px rgba(250, 250, 250, 0.2);
	}
}

.column-icon {
	margin-bottom: 3rem;
	position: relative;
}
.column-icon__img {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: -4px;
	left: -34px;

	img {
		display: inline-block;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.column-icon__title {
	margin-bottom: 1.5rem;
	font-size: 1.8rem;
	font-weight: 600;
}

// media pull-------------------
// 950 px---------------
@media (max-width: 59.375em) {
	.education {
		&__columns {
			flex-wrap: wrap;
		}

		&__column {
			flex: 0 1 100%;

			h3 {
			}
		}
	}
}
