.header {
	z-index: 30;

	&__body {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 0.5rem 0;
	}
	&__logo {
		font-size: 2.4rem;
		font-family: 'Conv_SecularOne';
		span {
			color: yellow;
			font-size: 3.5rem;
			letter-spacing: 0.3rem;
			text-transform: uppercase;
			font-weight: 400;
		}
	}
	&__myList {
		font-size: 2rem;
		display: flex;
		justify-content: space-between;
		width: 55rem;

		a {
			cursor: pointer;
			margin-left: 0.5rem;
		}

		a:hover {
			color: yellow;
		}
	}

	&__burger-menu {
		display: none;
	}
}
.time-war {
	display: flex;
	align-items: center;
	font-size: 1.8rem;
	padding: 0.5rem 0;
	border-bottom: 1px solid rgba(250, 250, 250, 0.1);
	& > *:not(:last-child) {
		margin: 0 1rem 0 0;
	}

	&__display {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	&__dey-body {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 1rem;
		span {
			display: block;
		}
	}
	&__dey {
		position: relative;
		width: 4rem;
		height: 3rem;
		border-radius: 0.5rem;
		overflow: hidden;
		margin-right: 1rem;

		span {
			position: absolute;
			background-color: black;
			top: 1px;
			left: 1px;
			right: 1px;
			bottom: 1px;
			text-align: center;
			border-radius: 0.5rem;
			display: flex;
			justify-content: center;
			align-items: center;
			z-index: 10;
		}
	}
	&__dey-decor {
		background: conic-gradient(blue, yellow);
		position: relative;
		top: -50%;
		left: -25%;
		width: 150%;
		height: 200%;
		-webkit-animation-name: anim;
		animation-name: anim;
		-webkit-animation-duration: 60s;
		animation-duration: 60s;
		-webkit-animation-fill-mode: forwards;
		animation-fill-mode: forwards;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-timing-function: linear;
		animation-timing-function: linear;
	}
	@-webkit-keyframes anim {
		100% {
			transform-origin: center;
			transform: rotate(360deg);
		}
	}
	@keyframes anim {
		100% {
			transform-origin: center;
			transform: rotate(360deg);
		}
	}
	&__dey-text {
		font-size: 1.4rem;
		text-transform: uppercase;
	}
	&__clock {
		display: flex;
	}
	&__hours {
		display: flex;
		margin: 0 1rem 0 0;
	}
}

// media request
// 950 px---------------
@media (max-width: 59.375em) {
	.time-war {
		&__text {
			display: none;
		}
	}

	.header {
		&__myList {
			display: none;
		}
	}
	.burger-menu {
		display: block;
		// position: relative;
		z-index: 100;

		&__open-close {
			width: 3rem;
			height: 2rem;
			position: relative;
			cursor: pointer;
			span,
			&::after,
			&::before {
				content: '';
				position: absolute;
				display: block;
				left: 0;
				width: 100%;
				height: 0.2rem;
				background-color: aliceblue;
			}
			&::before {
				top: 0;
			}
			span {
				transform: translateY(-50%);
				top: 50%;
			}
			&::after {
				bottom: 0;
			}
		}
		&__open-close:hover {
			span,
			&::after,
			&::before {
				background-color: yellow;
			}
		}

		&__burgerList {
			display: none;

			a {
				display: flex;
				justify-content: center;
				align-items: center;
			}

			a:hover,
			a.active {
				color: yellow;
			}
		}
	}

	.burger-menu.active .burger-menu {
		&__open-close {
			width: 3rem;
			height: 3rem;
			&::before {
				top: 48%;

				transform: rotate(45deg);
			}
			span {
				display: none;
			}
			&::after {
				bottom: 48%;
				transform: rotate(-45deg);
			}
		}
		&__burgerList {
			display: flex;
			flex: 0 1 100%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			right: 0;
			width: 100%;
			height: 100vh;
			font-size: 3rem;
			// border: 1px solid rgb(245, 237, 11);
			padding: 9rem 5rem;
			z-index: 1000;
			background-color: rgba(24, 24, 23, 0.95);
			a {
				text-align: right;
				margin-bottom: 2rem;
			}
		}
	}
}

// 450 px---------------
@media (max-width: 28.125em) {
	.time-war {
		justify-content: space-between;
		& > *:not(:last-child) {
			margin: 0rem 0.5rem 0rem 0rem;
		}
		&__hours {
			display: flex;
			margin: 0 0.5rem 0 0;
		}
	}
	.burger-menu {
		display: block;
		position: fixed;
		bottom: 0;
		left: 0;
		z-index: 1000;
		padding: 1rem;
		width: 100%;
		background-color: rgb(0, 0, 0);
		&__open-close {
			display: none;
		}

		&__burgerList {
			display: flex;
			justify-content: space-between;

			a {
				font-size: 2.4rem;
				padding: 1rem;
				border-radius: 50%;
				overflow: hidden;
				span {
					display: none;
				}
			}
		}
	}
}
