.home {
	&__root {
		position: relative;
		max-height: 95vh;
		overflow: hidden;
	}
	&__img {
		position: absolute;
		top: -10rem;
		right: 0;
		width: 100%;
		display: flex;
		justify-content: flex-end;

		img {
			position: relative;
			top: 0;
			right: 0;
			max-width: 100%;
		}
	}
}
.title-page {
	height: 88vh;
	overflow: hidden;
	position: relative;
	z-index: 1;

	&__container {
		display: flex;
		align-items: flex-end;
	}

	&__content {
		font-size: 2.6rem;
		text-transform: uppercase;
		max-width: 60rem;
		margin-bottom: 7.5rem;
		margin-left: 2.5%;
		position: relative;
		z-index: 5;

		h1 {
			font-size: 4rem;

			span {
				color: yellow;
			}
		}
		p {
			color: rgb(122, 116, 116);
		}
	}
	&__im {
		display: inline-flex;
		text-transform: capitalize;
		background-color: #000;
		padding: 1rem;
		border-radius: 5px;
	}
	&__im-about {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-right: 1rem;
	}
	&__im-text {
		position: relative;
		color: yellow;

		padding: 0 10px 0px 5px;
		overflow: hidden;
	}
	&__im-text::before {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: #000;
		border-left: 2px solid yellow;
		animation: animMI 5s steps(14) infinite, animMitwo 5s steps(14) infinite;
		margin-left: -5px;
	}
	&__content-text {
		p {
			font-size: 1.8rem;
			text-transform: none;
		}
	}
	&__dowlode {
		display: inline-block;
		border: 1px solid #fff;
		padding: 1rem 2rem;
		border-radius: 2.5rem;
		color: #fff;
		margin-top: 1rem;

		&:hover {
			color: yellow;
			border: 1px solid yellow;
		}
	}

	&__content > *:not(:last-child) {
		margin-bottom: 2rem;
	}

	&__social {
	}
}

.social {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 10rem;
	margin-top: 5rem;
	svg {
		fill: aliceblue;
		width: 3rem;
	}
	a {
		svg:hover {
			fill: yellow;
		}
	}
}

@keyframes animMI {
	3% {
		left: 0%;
	}
	30% {
		left: 100%;
	}
	80% {
		left: 100%;
	}
	100% {
		left: 0%;
	}
}
@keyframes animMitwo {
	30% {
		border-left: 2px solid yellow;
	}
	38% {
		border-left: 2px solid #000;
	}
	46% {
		border-left: 2px solid yellow;
	}
	54% {
		border-left: 2px solid #000;
	}
	62% {
		border-left: 2px solid yellow;
	}
	70% {
		border-left: 2px solid #000;
	}
	80% {
		border-left: 2px solid yellow;
	}
}
// media pull-------------------
// 950 px---------------
@media (max-width: 59.375em) {
	.home {
		&__container {
			display: flex;
			align-items: flex-end;
		}
	}
}

// 450px===============
@media (max-width: 28.125em) {
	.home {
		&__content {
			margin: 0 0 8rem 0;
		}
		&__img {
			top: -5rem;
		}
	}
	.title-page {
		&__content {
			font-size: 2rem;
		}
	}
}
