.portfolio {
	&__root {
		background-color: rgb(1, 1, 1);
		font-size: 1.6rem;
	}

	&__body {
	}

	&__content {
		display: flex;
	}
}

.portfolio-item {
	flex: 0 1 33.333%;
	border: 5px solid #fff;
	box-shadow: 1px 1px 10px rgba(250, 250, 250, 0.2), -1px -1px 10px rgba(250, 250, 250, 0.2);
	&__img {
		img {
			max-width: 100%;
		}
	}
	&__title {
	}
	&__disckription {
	}
}
