@import './config.scss';
.portfolio {
	&__root {
		font-size: 1.6rem;
		padding: 2.5rem 0;
	}

	&__content {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 1.5rem;
	}
}

.portfolio-item {
	flex: 0 1 33.333%;
	box-shadow: 1px 1px 5px $lineBottomColor-10, -1px -1px 5px $lineBottomColor-10;
	position: relative;
	overflow: hidden;
	&__img {
		display: flex;
		width: 100%;
		height: 100%;
		img {
			max-width: 100%;
		}
	}
	&__popup {
		position: absolute;
		top: 110%;
		left: 0;
		width: 101%;
		height: 101%;
		background-color: $blogBackgroundColor-50;
		-webkit-backdrop-filter: blur(10px);
		backdrop-filter: blur(10px);
		transition: all 0.3s ease;
		display: flex;
		justify-content: space-around;
		align-items: center;

		a {
			flex: 0 1 50%;
			display: flex;
			justify-content: center;
			align-items: center;
			max-width: 75px;
			border-radius: 50%;

			svg {
				fill: $textColor;
			}

			&:hover svg {
				fill: $hoverColor;
			}
		}

		&.active {
			top: 0;
		}
	}
}

// media pull-------------------
// 950 px---------------
@media (max-width: 59.375em) {
	.portfolio {
		&__content {
			grid-template-columns: repeat(2, 1fr);
		}
	}
	.portfolio-item {
		flex: 0 1 50%;
	}
}

// 450px===============
@media (max-width: 28.125em) {
	.portfolio {
		&__root {
			padding: 0.5rem 0;
		}
		&__content {
			grid-template-columns: 1fr;
		}
	}
	.portfolio-item {
		flex: 0 1 100%;
	}
	.portfolio-item:last-child {
		margin-bottom: 1rem;
	}
}
