@import 'nulstyil.scss';
@import 'header.scss';
@import 'home.scss';
@import 'about.scss';
@import 'skill.scss';
@import 'portfolio.scss';
@import 'fonts-icon.css';

// ==============================

._block {
	position: absolute;
	top: 0;
	left: 200%;
	width: 100%;
	height: 100%;
	transition: all 1s ease;
	transform-origin: left;
	flex: 1 1 auto;
	min-width: 100%;
	min-height: 100%;
	overflow: hidden;
	visibility: hidden;
}
.activPage {
	left: 0;
	// overflow: visible;
	visibility: visible;
}

// ==============================

html {
	font-size: 62.5%;
}

body {
	min-height: 100%;
	color: bisque;
}

#root,
.wrapper {
	min-height: 100vh;
	overflow-x: hidden;
}

.wrapper {
	background-color: rgb(1, 1, 1);
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 122rem;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

.header {
	padding: 1rem 0;
}

.main {
	flex: 1 1 auto;
	display: flex;
	position: relative;
	// overflow: hidden;
}
