@import 'nulstyil.scss';
@import 'fonts-icon.css';

// ==============================
@font-face {
	font-family: 'Conv_SecularOne';
	src: url('../fonts/font/fonts/SecularOne-Regular.eot');
	src: local('☺'), url('../fonts/font/fonts/SecularOne-Regular.woff') format('woff'),
		url('../fonts/font/fonts/SecularOne-Regular.ttf') format('truetype'), url('../fonts/font/fonts/SecularOne-Regular.svg') format('svg');
	font-weight: 400;
	font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;600;700;800&display=swap');
// ==============================
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	min-height: 100%;
	color: bisque;
	font-family: 'Mulish', sans-serif;
}

#root,
.wrapper {
	min-height: 100vh;
}

.wrapper {
	background-color: rgb(1, 1, 1);
	display: flex;
	flex-direction: column;
}

.container {
	max-width: 122rem;
	min-height: 100%;
	margin: 0 auto;
	padding: 0 1rem;
}

.header {
	padding: 1rem 0;
}

.main {
	flex: 1 1 auto;
	display: flex;
	position: relative;
	flex-direction: column;
}

.title {
	padding: 2rem 0;
	font-size: 2.4rem;
	text-transform: uppercase;
	span {
		color: yellow;
	}
}
